/* Master styles */
body{margin: 0px;
background: url(ken.jpg)no-repeat;
background-size: cover;}

.container{

}
/* Nav styles */
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.left-side{
    display: flex;
}

.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    animation: border-bottom 1s;
}

.nav-link-wrapper > a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 1s;
    font-size: 20px;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}

.nav-link-wrapper > a:hover{
    color: black;
}

.brand{font-size: 20px;
color: white;}

.h1{color: white;
margin-top: 10%;
margin-left: 5%;}

.p1{color: white;
margin-top: 15%;
margin-left: 3%;
font-size: 18px;}

.nnav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.lleft-side{
    display: flex;
}

.nnav-wrapper > .lleft-side > div{
    margin-right: 80px;
    font-size: 0.9em;
    text-transform: uppercase;}

    .ul{color: white;}

    .h3{color: white;}

    .img{width: 40px;
    height: 30px;}

    .h2{margin-top: 15%;
        margin-left: 3%;
    color: white;}

    .hh2{margin-top: 5%;
        margin-left: 3%;
    color: white;}

    .hh1{margin-left: 3%;
    color: white;}

    .h2a{color: white;
        margin-left: 3%;
        margin-top: 5%;
    }

